# LIst

In [30]:
st1="asad"
st2="saad"
st3="fahad"
st=["asad","saad","imran","fahad","kashif","arsalan","ali","ahmed"]
#index[0     1       2       3        4        5        6      7  ]

In [31]:
len(st)#length (max no of element)

8

In [32]:
st[4] #access index

'kashif'

In [50]:
alist=["string",12,1.2,False] #multiple data types hold

In [51]:
alist[0]="pakistan"
alist

['pakistan', 12, 1.2, False]

In [57]:
del alist[3] #del index value
alist

['pakistan',
 12,
 1.2,
 'hello world',
 'hye',
 'hello world',
 'hye',
 'hello world']

In [59]:
alist.append("hello world") #insert from last
alist

['pakistan',
 12,
 1.2,
 'hello world',
 'hye',
 'hello world',
 'hye',
 'hello world',
 'hello world',
 'hello world']

In [61]:
alist.insert(2,"programme")
alist

['pakistan',
 12,
 'programme',
 'programme',
 1.2,
 'hello world',
 'hye',
 'hello world',
 'hye',
 'hello world',
 'hello world',
 'hello world']

In [69]:
list2=[1,2,3,4,5,6,7,8,9] #new list create

In [70]:
list2.remove(7) #remove identify value
list2

[1, 2, 3, 4, 5, 6, 8, 9]

In [72]:
list2.clear() #clear whole list
list2

[]

In [76]:
list3=[11,22,44,33,44,55,66,77,88,99,"hello",11,11,11] #new list

In [77]:
list3.count(11) #count selected value

4

In [78]:
list3.count(44)

2

In [85]:
list4=[77,22,44,33,44,55,66,77,88,99,11,11,11] #new list

In [86]:
list4.sort() #sort
list4

[11, 11, 11, 22, 33, 44, 44, 55, 66, 77, 77, 88, 99]

In [89]:
list4.sort(reverse=True) #descending
list4

[99, 88, 77, 77, 66, 55, 44, 44, 33, 22, 11, 11, 11]

In [99]:
list5=list4.copy() #copy list(pass by value) 
list5

[99, 88, 77, 77, 66, 55, 44, 44, 33, 22, 11, 11, 11]

In [100]:
list6=list5 #also by assign
list6

[99, 88, 77, 77, 66, 55, 44, 44, 33, 22, 11, 11, 11]

In [104]:
a=["apples","oranges","nothing"]

In [105]:
b=a #assign pointer (pass by ref) a---->adress<----b
b   #changes occurs through both

['apples', 'oranges', 'nothing']

In [107]:
c=a[:] #pass by value 
c

['apples', 'oranges', 'nothing']

In [108]:
del a[0]
print(a)
c

['oranges', 'nothing']

['apples', 'oranges', 'nothing']

In [131]:
a=["apples","oranges","nothing"]
b=a
b

['apples', 'oranges', 'nothing']

In [132]:
a.append("mango")
a

['apples', 'oranges', 'nothing', 'mango']

In [133]:
b

['apples', 'oranges', 'nothing', 'mango']

In [134]:
c=b[:]

In [126]:
print(b)
print(c)

NameError: name 'b' is not defined

In [127]:
b.append("melon")
b

NameError: name 'b' is not defined

In [121]:
print(c)

['apples', 'oranges', 'nothing', 'mango', 'mango']

In [142]:
#list can be hold entire list
listinlist=[111,222,["apples","oranges","nothing","melon"]]

In [143]:
listinlist

[111, 222, ['apples', 'oranges', 'nothing', 'melon']]

In [144]:
listinlist[2]

['apples', 'oranges', 'nothing', 'melon']

In [145]:
listinlist[2][3]

'melon'

In [146]:
listinlist2=[111,222,a]

In [147]:
listinlist2

[111, 222, ['apples', 'oranges', 'nothing', 'mango']]

In [148]:
listinlist[2][3]

'melon'

In [149]:
del listinlist[2][3]
listinlist

[111, 222, ['apples', 'oranges', 'nothing']]

In [150]:
a=["pak","uae","usa"]

In [151]:
a[0][2]

'k'

## slicing

In [152]:
##slicing :

In [155]:
listslicing=[1,2,3,4,5,6,7,8,9] #range of values

In [157]:
listslicing[2:7] # min index to  max+1 index

[3, 4, 5, 6, 7]

In [158]:
listslicing[6:8]

[7, 8]

In [159]:
listslicing[0:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [161]:
lists=[111,333,["ali","ovs","amd","sha"]]

In [171]:
lists[2].remove("ovs")

ValueError: list.remove(x): x not in list

In [172]:
lists

[111, 333, ['ali', 'amd', 'sha']]

In [174]:
lists[2].insert(2,"ovais")

In [175]:
lists

[111, 333, ['ali', 'amd', 'ovais', 'sha']]

In [176]:
rlist=  [1,2,3,4,5,6,7,8,9]
#reverse[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [178]:
rlist[-1]# always left to right !

9

In [179]:
rlist[-5:-1]

[5, 6, 7, 8]

In [181]:
rlist[-6:-2]

[4, 5, 6, 7]

In [182]:
rlist[2]

3

In [183]:
rlist[-5:]

[5, 6, 7, 8, 9]

In [184]:
rlist.pop

In [210]:
rlists=[1,2,3,4,5,6,7,8,9]

In [213]:
popped=rlists.pop()

In [214]:
popped

8

In [216]:
poppedlist=[]
popped=rlists.pop()
poppedlist.append(popped)

In [217]:
poppedlist

[7]

In [218]:
print(rlists)
print(popped)

[1, 2, 3, 4, 5, 6]
7

In [ ]:
poppedlist.append()